/* Style for the table container */

.AdminPage .details .project-details {
  font-size: 16px;
  color: #000;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px; /* Border radius */
}

.AdminPage .details .project-details td {
  padding: 1px 3px 1px 3px;
  height: 30px;
  font-size: 15px;
}

/* Rest of your CSS styles for the table... */

/* Style the table */
/* Style for the table container */

/* Style for the AdminPage container */
/* Style for the AdminPage container */
.AdminPage {
  display: flex;
  gap: 10px; /* Gap between columns and rows */
  margin-left: 5%;
  align-items: center;
  padding: 10px 200px 50px 200px;
}

/* Rest of your CSS styles... */

/* Style for the project list container */
.AdminPage .project-list {
  list-style: none;
  padding: 0 10% 0 10%;
  margin: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

/* Style for each individual project item */
.AdminPage .project {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 16px 16px 16px;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Style for the project title */
.AdminPage .project h2 {
  font-size: 17px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  font-weight: 600;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: left; /* Text positioned on the left */
  height: 100px;
  color: #000;
}
.AdminPage .project i {
  color: #000;
}

/* Style for project details (author, year, supervisor) */
.AdminPage .project .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end; /* Align details to the bottom */
  margin-top: auto; /* Push details to the bottom of the container */
  margin-bottom: 20px;
}

/* Style for the author and year */
.AdminPage .project .details h6,
.project .details h5 {
  font-size: 14px;
  color: #888;
  margin: 0;
}

/* Style for the supervisor */
.AdminPage .project .details h3 {
  font-size: 16px;
  color: #6f6f6f;
}

/* Style for the edit and delete buttons */
.AdminPage .project .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto; /* Push buttons to the bottom */
}

/* Style for the edit button */
.AdminPage .project .buttons .edit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  margin-right: 10px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgba(171, 164, 175, 0.568);
  color: rgb(11, 11, 11);
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}

/* Style for the delete button */
.AdminPage .project .buttons .delete-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #fb5285;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out 75ms;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  transform: translateY(0);
  width: 100%;
}

/* 
@media (max-width: 1400px){

  .AdminPage .project-list {
    list-style: none;
    padding: 0 0% 0 0%;
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

} */
@media (max-width: 1400px) {
  .AdminPage {
    display: flex;
    gap: 10px; /* Gap between columns and rows */
    margin-left: 3%;
    align-items: center;
    padding: 10px 0px 50px 0px;
  }
}
@media (max-width: 870px) {
  .AdminPage {
    display: flex;
    gap: 10px; /* Gap between columns and rows */
    margin-left: 3%;
    align-items: center;
    padding: 10px 70px 50px 70px;
  }
  .AdminPage .project h2 {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
    height: auto;
  }
}

/* Common styles */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.598);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-top: -80px;
}

.modalContainer {
  width: auto;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  z-index: 999;
  margin: 20%;
}

.modalContainer .title {
  text-align: center;
  margin-top: 0px;
  z-index: 999;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.modalContainer .title h1 {
  margin: 0;
  padding: 0;
  color: #000;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  z-index: 999;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  z-index: 999;
}

.modalContainer .footer {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

#cancelBtn {
  background-color: crimson;
  z-index: 999;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .modalContainer {
    width: auto;
    height: auto;
    padding: 25px;
    max-height: 80vh;
  }

  .modalContainer .body {
    font-size: 1.5rem;
  }

  .modalContainer .footer button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}

@media (max-width: 868px) {
  .AdminPage .project-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    /* Change this to a single column layout */
  }
}

@media (max-width: 568px) {
  .AdminPage {
    display: flex;
    gap: 10px; /* Gap between columns and rows */
    margin-left: 3%;
    align-items: center;
    padding: 10px 20px 50px 20px;
  }
}
@media (max-width: 378px) {
  .AdminPage {
    padding: 30px;
  }
}
